body{
    background-image: url("../images/herringbone.png");
}

.wrap{
    width: 100%;
    background-color: white;
    border-bottom: #cccccc 2px;
    border-style: solid;
    margin-bottom: 75px;
}

#nameplate{
    height: 70px;
    padding-top: 12px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

li{
    float: left;
    border-right: 1px solid #dddddd;
}

li:last-child {
    border-right: none;
}

.aboutMe{
    transform: rotate(90deg);
}

.main-section{
    background-color: white;
    padding: 30px;
}