body{
    background-image: url("../images/herringbone.png");
}

.wrap{
    width: 100%;
    background-color: white;
}
#nameplate{
    /* width: fit-content !important;
    padding: 0 !important; 
    margin-right: 0 !important; */
    height: 70px;
    /* max-width: 300px; */
    background-color: #4aaaa5;
}

.main-section{
    background-color: white;
}